In [ ]:
#Variable and print
a=5
print("I am",a,"years old")

I am 5 years old

Operators

In [ ]:
#Arithmetic
a=5
b=25
print(a+b)

30

In [ ]:
#Power
print(2**3)

8

In [ ]:
#Floor division
print(25//2)

12

In [ ]:
#Relational
a=6
b=6
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

True
False
False
True
False
True

In [ ]:
#Logical
a=4
b=6
print((a>b) and (a<b))    # false and true
print((a>b) or (a<b))     # false or true

False
True

Control flow

In [ ]:
#Conditional - if
#write a program to get a number from user and check whether it is positive or negative
a=int(input("enter a number :"))
if a>0 :
  print(a,"is positive")
elif a<0 :
  print(a,"is negative")
else :
  print(a,"is neither positive nor negative")

enter a number :0
0 is neither positive nor negative

Looping

In [ ]:
#For loop
n=int(input("enter a number"))
for i in range(1,11,1) :
  a=n*i
  print(a)

enter a number4
4
8
12
16
20
24
28
32
36
40

In [ ]:
#WHILE loop
n=int(input("enter a number "))
i=1
while i<=10 :
  a=n*i
  print(a)
  i=i+1

enter a number 4
4
8
12
16
20
24
28
32
36
40

Data slicing

In [ ]:
a="Python is easy"
print(a[0:6:])
print(a[::-1])

Python
ysae si nohtyP

Collection :                                   
List :                                   
->List is a collection of elements              
->Heterogenous                               
->Mutable(modifiable)

In [ ]:
#list
l=["Balu",45,18.7,"Rohit"]
print(l)
l.append(63)
print(l)
l.insert(2,"pawan")
print(l)
s=["vamc",1,"Ashok"]
l.extend(s)
print(l)
l.pop(7)
print(l)
l.remove("pawan")
print(l)
b=[1,63,45,18,7,12,3.45]
print(min(b))
print(max(b))
print(len(b))

['Balu', 45, 18.7, 'Rohit']
['Balu', 45, 18.7, 'Rohit', 63]
['Balu', 45, 'pawan', 18.7, 'Rohit', 63]
['Balu', 45, 'pawan', 18.7, 'Rohit', 63, 'vamc', 1, 'Ashok']
['Balu', 45, 'pawan', 18.7, 'Rohit', 63, 'vamc', 'Ashok']
['Balu', 45, 18.7, 'Rohit', 63, 'vamc', 'Ashok']
1
63
7

List comprehension :                     
-> iterators                       
-> applies some functions                    
-> conditions                        
-> output : list

In [ ]:
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l2)

[4, 9, 16, 25, 36]

In [ ]:
l3=[i**2 for i in l1 if i>3]
print(l3)

[16, 25, 36]

In [ ]:
#The salaries of 5 employees in a company is taken as a list .The tax is 10% if the salary is less than 50,000 (or) it is 15%
#create a new list with tax amounts
#[67000,45000,89000,34000,50000]
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal :
  if i<=50000 :
    t=i*0.10
    tax.append(t)
  else :
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#Using list comprehension
#Syntax for if-else in list comprehension :-
#list=[(body of if) if (condition) else (body of else) iterate]
sal=[67000,45000,89000,34000,50000]
tax=[i*0.10 if i<=50000 else  i*0.15  for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]